@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose {
  :is(h1, h2, h3, h4, h5, h6) {
    @apply relative before:content-["#"] before:me-1;

    a {
      @apply mx-2 align-middle overflow-hidden after:icon-mdi-light-link-variant opacity-0;
    }
    &:hover a {
      @apply opacity-100;
    }
  }
  h1 { @apply border-blue-400 border-b-4 pb-1; }
  h2 { @apply border-blue-400 border-b-4 pb-1; }
  h3 { @apply border-blue-400 border-b-2 pb-1; }
  h4 { @apply border-blue-400 border-b-2 pb-1; }
  h5 { @apply border-blue-400 border-b-[1px]; }
  h6 { @apply border-blue-400 border-b-[1px]; }

  a[href^='http'] {
    @apply after:icon-mslight-open-in-new after:mx-0.5 after:align-middle;
  }
}

:is(code, pre)[data-theme*=" "] {
  @apply bg-[--shiki-light-bg] dark:bg-[--shiki-dark-bg];
}

:is(code, pre)[data-theme*=" "] span {
  @apply text-[--shiki-light] dark:text-[--shiki-dark];
}

:root { --tw-color-scheme: light; }
@media (prefers-color-scheme: dark) {
  :root { --tw-color-scheme: dark; }
}
